doctype html
html
  head
    meta(charset='utf-8')
    link(rel='shortcut icon', href='../icon/icons/favicon.ico')
    title MyBlog我的关注
    link(rel='stylesheet', type='text/css', href='../css/myFocus_css.css')
    link(rel='stylesheet', type='text/css', href='../icon/icons/iconfont.css')
  body
    #head
      #banner
        #left
          p W
        #right
          p MyBlog
        .navigatorBar
          a(href='/writeBlog?loginaccount=#{params.blogger.account}')
            i.iconfont.icon-edit
            | 发表博文
        .navigatorBar
          a(href='/index?page=1&loginaccount=#{params.blogger.account}')
            i.iconfont.icon-index
            | 首页
        .navigatorBar
          a(href='/userMessage?loginaccount=#{params.blogger.account}')
            i.iconfont.icon-message
            | 我的信息
    #content_container
      .content_head_background
      .content_left
        .content_left_top
          .personalMess 个人资料
          .messageDetails
            img(src='#{params.blogger.photo}')
            br
            span #{params.blogger.nickName}
            br
        .content_left_achievement
          .achievement_label 我的成就
          .myAchievement
            dl
              dd
                i.iconfont.icon-views
                | 			    			阅读数: 
                span #{params.blogger.readCount}
              dd
                i.iconfont.icon-add
                | 			    			关注数: 
                span #{params.blogger.focusedCount}
              dd
                i.iconfont.icon-edit
                | 			    			文章数: 
                span #{params.blogger.blogsCount}
        .content_left_footprint
          .myFootprint 我的足迹
          dl
            dd
              a.navigator(href='/myFocus?loginaccount=#{params.blogger.account}')
                i.iconfont.icon-add
                span 我的关注
            dd
              a.navigator(href='/myCollect?loginaccount=#{params.blogger.account}')
                i.iconfont.icon-favorite
                span 我的收藏
        .content_left_middle
          .listByCategory 文章分类
          dl
            dd
              a.navigator(href='/mySpace?category=android&loginaccount=#{params.blogger.account}')
                i.iconfont.icon-shouji
                span 移动开发(#{params.blogger.allBlogsListByCategory.android})
            dd
              a.navigator(href='/mySpace?category=database&loginaccount=#{params.blogger.account}')
                i.iconfont.icon-shujuku
                span 数据库(#{params.blogger.allBlogsListByCategory.database})
            dd
              a.navigator(href='/mySpace?category=web&loginaccount=#{params.blogger.account}')
                i.iconfont.icon-qianduan
                span 前端(#{params.blogger.allBlogsListByCategory.web})
            dd
              a.navigator(href='/mySpace?category=cloud&loginaccount=#{params.blogger.account}')
                i.iconfont.icon-yun
                span 云计算(#{params.blogger.allBlogsListByCategory.cloud})
            dd
              a.navigator(href='/mySpace?category=java&loginaccount=#{params.blogger.account}')
                i.iconfont.icon-java
                span Java开发(#{params.blogger.allBlogsListByCategory.java})
            dd
              a.navigator(href='/mySpace?category=others&loginaccount=#{params.blogger.account}')
                i.iconfont.icon-all
                span 其他(#{params.blogger.allBlogsListByCategory.others})
      .content_right
        .expert_message
          .head_portrait
            img(src='#{params.myFocus[0].photo}')
          p.name
            a(href='/blogsShow?account=#{params.myFocus[0].account}&loginaccount=#{params.blogger.account}') #{params.myFocus[0].nickName}
          p.position
            span.position_location #{params.myFocus[0].city}
            span.position_job #{params.myFocus[0].career}
          .article_message
            span.article_account
              b #{params.myFocus[0].blogsCount}
            br
            span.article_account_label 文章数
          .views_time
            b #{params.myFocus[0].readCount}
            br
            span 阅读数
          .clear_float
        .expert_message
          .head_portrait
            img(src='#{params.myFocus[1].photo}')
          p.name
            a(href='/blogsShow?account=#{params.myFocus[1].account}&loginaccount=#{params.blogger.account}') #{params.myFocus[1].nickName}
          p.position
            span.position_location #{params.myFocus[1].city}
            span.position_job #{params.myFocus[1].career}
          .article_message
            span.article_account
              b #{params.myFocus[1].blogsCount}
            br
            span.article_account_label 文章数
          .views_time
            b #{params.myFocus[1].readCount}
            br
            span 阅读数
          .clear_float
        .expert_message
          .head_portrait
            img(src='#{params.myFocus[2].photo}')
          p.name
            a(href='/blogsShow?account=#{params.myFocus[2].account}&loginaccount=#{params.blogger.account}') #{params.myFocus[2].nickName}
          p.position
            span.position_location #{params.myFocus[2].city}
            span.position_job #{params.myFocus[2].career}
          .article_message
            span.article_account
              b #{params.myFocus[2].blogsCount}
            br
            span.article_account_label 文章数
          .views_time
            b #{params.myFocus[2].readCount}
            br
            span 阅读数
          .clear_float
        .expert_message
          .head_portrait
            img(src='#{params.myFocus[3].photo}')
          p.name
            a(href='/blogsShow?account=#{params.myFocus[3].account}&loginaccount=#{params.blogger.account}') #{params.myFocus[3].nickName}
          p.position
            span.position_location #{params.myFocus[3].city}
            span.position_job #{params.myFocus[3].career}
          .article_message
            span.article_account
              b #{params.myFocus[3].blogsCount}
            br
            span.article_account_label 文章数
          .views_time
            b #{params.myFocus[3].readCount}
            br
            span 阅读数
          .clear_float
        .expert_message
          .head_portrait
            img(src='#{params.myFocus[4].photo}')
          p.name
            a(href='/blogsShow?account=#{params.myFocus[4].account}&loginaccount=#{params.blogger.account}') #{params.myFocus[4].nickName}
          p.position
            span.position_location #{params.myFocus[4].city}
            span.position_job #{params.myFocus[4].career}
          .article_message
            span.article_account
              b #{params.myFocus[4].blogsCount}
            br
            span.article_account_label 文章数
          .views_time
            b #{params.myFocus[4].readCount}
            br
            span 阅读数
          .clear_float
        .expert_message
          .head_portrait
            img(src='#{params.myFocus[5].photo}')
          p.name
            a(href='/blogsShow?account=#{params.myFocus[5].account}&loginaccount=#{params.blogger.account}') #{params.myFocus[5].nickName}
          p.position
            span.position_location #{params.myFocus[5].city}
            span.position_job #{params.myFocus[5].career}
          .article_message
            span.article_account
              b #{params.myFocus[5].blogsCount}
            br
            span.article_account_label 文章数
          .views_time
            b #{params.myFocus[5].readCount}
            br
            span 阅读数
          .clear_float
      .clearFloat
    script(type='text/javascript', src='/javascript/myFocus_js.js')