doctype html
html
  head
    meta(charset='utf-8')
    link(rel='shortcut icon', href='../icon/icons/favicon.ico')
    title MyBlog个人信息
    link(rel='stylesheet', type='text/css', href='../tools/assets/css/app.css')
    link(rel='stylesheet', type='text/css', href='../tools/assets/css/amazeui.css')
    link(rel='stylesheet', type='text/css', href='../css/userMessage_css.css')
    link(rel='stylesheet', type='text/css', href='../icon/icons/iconfont.css')
    script(type='text/javascript', src='../tools/regionPicker/js/jquery-3.2.1.min.js')
    script(type='text/javascript', src='../tools/regionPicker/js/jquery.cxselect.min.js')
    script(type='text/javascript', src='../tools/assets/js/amazeui.min.js')
  body
    #head
      #banner
        #left
          p W
        #right
          p MyBlog
        .options
          a(href='/index?page=1&loginaccount=#{params.account}')
            i.iconfont.icon-index
            span 首页
          a(href='/mySpace?loginaccount=#{params.account}')
            i.iconfont.icon-space
            span 我的空间
          a(href='/writeBlog?loginaccount=#{params.account}')
            i.iconfont.icon-edit
            span 发表文章
    .body
      .user_message
        .photo
          img(src='#{params.photo}')
        .nickName
          | #{params.nickName}
        .photoUpload
          span
            i.iconfont.icon-close
          form(enctype='multipart/form-data', action='/photoUpload?loginaccount=1', method='post')
            input(type='file', name='image')
            input#uploadSub(type='submit', name='submit', value='submit')
      .message_details
        span.edit
          i.iconfont.icon-edit
          | 编辑
        .clearFloat
        dl
          dd
            i.iconfont.icon-nickname.label
            | 					昵称 : 
            span #{params.nickName}
          dd
            i.iconfont.icon-real_name.label
            | 					实名 : 
            span #{params.name}
          dd
            i.iconfont.icon-accountlogin.label
            |           账号 : 
            span #{params.account}
          dd
            i.iconfont.icon-icon02.label
            | 					密码 : 
            span #{params.password}
          dd
            i.iconfont.icon-career.label
            | 					职位 : 
            span #{params.career}
          dd
            i.iconfont.icon-sex1-copy.label
            | 					性别 : 
            span #{params.sex}
          dd
            i.iconfont.icon-Vtubiao-.label
            | 					生日 : 
            span #{params.birthday}
          dd
            i.iconfont.icon-job.label
            | 					行业 : 
            span #{params.job}
          dd
            i.iconfont.icon-location.label
            | 					地区 : 
            span #{params.region}
          dd
            i.iconfont.icon-briefintroduction.label
            | 					简述 : 
            span #{params.introduction}
      .clearFloat
    .model_container
      .model
        .edit_label
          | 编辑信息
          span
            i.iconfont.icon-close
        .user_message_form
          form(action='/messageChange?loginaccount=#{params.account}', method='post')
            dl
              dd
                span.message_label 昵称 :
                input(type='text', name='nickname', value='#{params.nickName}')
                span.message_label 实名 :
                input(type='text', name='realname', value='#{params.name}')
              dd
                span.message_label 职位 :
                input(type='text', name='career', value='#{params.career}')
                span.message_label(data='#{params.sex}') 性别 :
                input.sex(type='radio', name='sex', value='boy')
                | 男
                input.sex(type='radio', name='sex', value='girl')
                | 女
              dd
                span.message_label 生日 :
                input.birthday(type='text', name='birthday', data-am-datepicker='', value='#{params.birthday}')
                span.message_label 行业 :
                select(name='job')
                  option(value='0') 请选择行业
                  option(value='1') 电子·微电子
                  option(value='2') 计算机科学与技术
                  option(value='3') 批发零售
                  option(value='4') 贸易·进出口
                  option(value='5') 房地产·建筑与工程
                  option(value='6') 娱乐·运动·休闲
                  option(value='7') 交通·运输·物流
                  option(value='8') 制药·生物工程
                  option(value='9') 互联网·电子商务
                  option(value='10') 其他
              dd#element_id.region
                span.message_label 地区 :
                select.province(name='province', data='#{params.province}')
                select.city(name='city', data='#{params.city}')
                select.area(name='area', data='#{params.area}')
              dd
                span 简述 :
                textarea.introduction(name='introduction', placeholder='#{params.introduction}')
        .submit
          input(type='submit', name='submit', value='保存')
    script(type='text/javascript').
      $.cxSelect.defaults.url = "../tools/regionPicker/js/cityData.min.json";
      $.cxSelect.defaults.nodata = 'none';
      $('#element_id').cxSelect({
      selects : ['province', 'city', 'area']
      });
    script(type='text/javascript', src='/javascript/userMessage_js.js')